
header{
	position: fixed;
	z-index: 2;
	width:100%;
	background-color: white;
	top:0px;
	padding-top: 10px;
}
ul{
	list-style-type: none;
	margin:30px 20px 20px 30px;
	color: rgb(118,133,182);
	padding-left: 0px;
}
li{
	margin-bottom: 30px;
}
a{
	text-decoration: none;
	color: rgb(118,133,182);
}

.drop-down{
	color:grey;

}
.drop-down-icon{
	padding-top: 20px;
	width:20px;
	height:20px;
}

.list-item:hover{
	background-color: #6B3EFF;
	color:white;
	
}
.list-item:hover .dashboard-img{
	/*visibility: hidden;*/
	background-image: url("../images/Dashboard_light.svg");

}
.list-item:hover .issues-img{
	background-image: url("../images/Issues_light.svg");
	
}
.list-item:hover .create-img{
	background-image: url("../images/Create_light.svg");
	
}
.list-item{
	border-radius: 5px;
	padding:5px 5px 5px 5px;

}
.searchbar{
	grid-column-start: 2;
	grid-column-end: 3;
	display: grid;
	grid-template-columns: 5% 95%;
}
.search-img{
	padding: 15px 10px 15px 20px;
}
form{
	padding: 15px 10px 15px 0px;
}
.search-text-area{
	border: 0px;
	width:100%;
}
.notification-button{
	grid-column-start: 3;
	grid-column-end: 4;
	padding: 15px 20px 15px 20px;
}

.user-img{
	grid-column-start: 4;
	grid-column-end: 5;
}

.category-name{
	font-size:23px;
	
	padding-left: 20px;
	padding-top:20px;
}

.heading{
	padding-left: 30px;
	padding-top:38px;
	font-size: 26px;
}
.view-style{
	padding-top: 42px;
	text-align: right;
	padding-right:20px;
}
.kebab{
	visibility: hidden;
}
.wrapper{
	display: grid;
	top:0;
	
	grid-template-rows: 54px auto;
}
.header-grid{
	grid-column-start: 1;
	grid-column-end:2;
	grid-row-start: 1;
	grid-row-end: 2;
	display: grid;
	grid-template-columns: 15% 75% 5% 5%;
	text-align: center;
	left:0px;
}
.pagename{
	grid-column-start: 1;
	grid-column-end: 2;
	background-image: url("../images/logo.svg");
	
	background-repeat: no-repeat;
	background-position: center;
}
.hamburger{

	visibility: hidden;
}
.main-body-grid{
	grid-column-start: 1;
	grid-column-end:2; 
	grid-row-start: 2;
	grid-row-end: 3;
	display: grid;
	grid-template-columns: 15% 85%;
	position:absolute;
	top:64px;
	left:0px;
	/*grid-template-rows: 1fr;*/

}
.navigation{
	position: fixed;
	/*background-color: rgb(26,30,42); */

	margin-bottom: 10px;
	background-color: #000E33;
	height: 100%;
	width: 15%;
	grid-column-start: 1;
}
.menu-choice{
	position: static;
	
	grid-column-start: 2;
	display: grid;
	grid-template-rows: 1fr 8fr;
	grid-template-columns: repeat(3,1fr); 
	padding-right: 20px;
	padding-left: 20px;
	grid-column-gap: 20px;
	background-color: #F4F4F5;
}
.tiled{
	height:30px;
	width:30px;
	display: inline-block;
}

.list{
	display: inline-block;
	height:30px;
	width:30px;
}

.filter-drop-down{
	text-align: center;
	grid-column-start: 2;
	grid-column-end: 3;
	padding-top: 20px;
}

.title-row{
	grid-column-start: 1;
	grid-column-end:4;
	display: grid;
	grid-template-columns: 7fr 2fr 1fr; 
}
.to-do{
	grid-column-start: 1;
	grid-column-end: 2; 
}
.in-progress{
	grid-column-start: 2;
	grid-column-end: 3; 
}
.done{
	grid-column-start: 3;
	grid-column-end: 4; 
}
.category{
	background-color: #D0D1FF;
	
	/*margin-left: 20px;
	margin-right: 20px;*/
}
.card-list{
	display: grid;
	padding-top:25px;
	grid-template-rows: repeat(4, 200px);
	grid-row-gap: 10px;
}
.card{
	background-color: white;
	padding:15px;
	display: grid;
	grid-template-rows: repeat(3,1fr);
	grid-template-columns: 1fr 1fr;
}

.card-assignee{
	font-color:grey;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: 1fr 1fr 1fr;
}
.assignee-tag{
	font-size: 12px;
	grid-column-start: 1;
	grid-column-end: 4;
}
.assignee-img{
	padding-top: 10px;
	grid-row-start:2;
	grid-row-end: 4; 
	grid-column-start: 1;
	grid-column-end: 2;
}
.assignee-name{
	font-size: 12px;
	color:black;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	padding-top: 5px;
}
.assignee-desig{
	font-size: 8px;
	grid-column-start: 2;
	grid-row-start: 3;
}
.card-id{
	font-size: 12px;
	font-weight: bold;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.card-date{
	font-size: 12px;
	color: grey;
	text-align: right;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}
.card-content{

	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}
.card-assignee{
	font-size: 12px;
	color: grey;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}
.card-status{
	font-size: 12px;
	color: grey;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	text-align: right;
}
.status{
	width: 80px;
	height: 20px;
	color:white; 
	text-align: center;
	margin-top: 20px;
	margin-left: 40px;
}

.to-do .status{
	background-color: red;
}

.in-progress .status{
	background-color: orange;
}

.done .status{
	background-color: green;
}